/**** IMPORTS ****/
@import '../_base.scss';


/**** FOOTER ****/
/********* MOBILE VIEW ********/
pg-footer {
	font-family: 'Roboto', sans-serif;
}
.footer {
	position: relative;
	z-index: 0;
	background-color: #004658;
	color: #fff;
}
footer {
	a {
		color: #fff;
		text-decoration: none;
	}
}
.footer-wave-svg {
	background-color: transparent;
	display: block;
	height: 30px;
	position: relative;
	top: -1px;
	width: 100%;
}
.footer-wave-path {
	fill: #fffff2;
}
.footer-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding: 20px 15px 100px;
	position: relative;
	display: flex;
}
.footer-content-column {
	box-sizing: border-box;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	color: #fff;
	ul {
		li {
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
.footer-logo {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding: 40px 20px 0;
}
.footer-logo-link {
	display: inline-block;
	background: url("../images/maina-logo2-white.svg") no-repeat center/cover;
	width: 200px;
	height: 50px;
}
.footer-menu {
	margin-top: 30px;
    ul {
        padding-top: 0;
    }
}
.footer-menu-name {
	color: #fffff2;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: .1em;
	line-height: 18px;
	padding: 10px 0;
	margin-bottom: 0;
	margin-top: 0;
	text-transform: uppercase;
}
.footer-menu-list {
	list-style: none;
	margin-bottom: 0;
	margin-top: 10px;
	padding-left: 0;
	li {
		margin-top: 5px;
	}
}
.footer-call-to-action-description {
	color: #fffff2;
	margin-top: 10px;
	margin-bottom: 20px;
}
.footer-call-to-action-button {
	&:hover {
		background-color: #fffff2;
		color: #00bef0;
	}
	background-color: #027b9a;
	border-radius: 21px;
	color: #fffff2;
	display: inline-block;
	font-size: 11px;
	font-weight: 900;
	letter-spacing: .1em;
	line-height: 18px;
	padding: 12px 30px;
	margin: 0 10px 10px 0;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color .2s;
	cursor: pointer;
	position: relative;
}
.button {
	&:last-of-type {
		margin-right: 0;
	}
}
.footer-call-to-action {
	margin-top: 30px;
}
.footer-call-to-action-title {
	color: #fffff2;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: .1em;
	line-height: 18px;
	margin-bottom: 0;
	margin-top: 0;
	text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
	margin-bottom: 0;
	margin-top: 10px;
	color: #fff;
	text-decoration: none;
	a {
		color: #fff;
		text-decoration: none;
	}
}
.footer-social-links {
	bottom: 0;
	height: 54px;
	position: absolute;
	right: 0;
	width: 236px;
}
.footer-social-amoeba-svg {
	height: 54px;
	left: 0;
	display: block;
	position: absolute;
	top: 1px;
	width: 236px;
}
.footer-social-amoeba-path {
	fill: #027b9a;
}
.footer-social-link.linkedin {
	height: 26px;
	left: 3px;
	top: 11px;
	width: 26px;
}
.footer-social-link {
	display: block;
	padding: 10px;
	position: absolute;
}
.hidden-link-text {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
	-webkit-clip-path: inset(0px 0px 99.9% 99.9%);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
	top: 50%;
}
.footer-social-icon-svg {
	display: block;
}
.footer-social-icon-path {
	fill: #fffff2;
	transition: fill .2s;
}
.footer-social-link.twitter {
	height: 28px;
	left: 62px;
	top: 3px;
	width: 28px;
}
.footer-social-link.youtube {
	height: 24px;
	left: 123px;
	top: 12px;
	width: 24px;
}
.footer-social-link.github {
	height: 34px;
	left: 172px;
	top: 7px;
	width: 34px;
}
.footer-copyright {
	background-color: #027b9a;
	color: #fff;
	padding: 15px 30px;
	text-align: center;
}
.footer-copyright-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}
.footer-copyright-text {
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 0;
	margin-top: 0;
}
.footer-copyright-link {
	color: #fff;
	text-decoration: none;
}
@media screen and (max-width: 860px) {
	.footer-content {
		flex-direction: column;
	}
	.footer-content-column {
		padding-bottom: 15px;
	}
}
