/**** IMPORTS ****/
@import './variables.scss';
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&display=swap");

/**** MAIN BODY ****/
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Figtree", sans-serif;
    overflow-x: hidden;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    padding: 30px 20px;
    font-size: 56px;
    font-weight: 900;
    color: #000000BF;
    .highlight {
        color: #f57600;
    }
}
h2 {
    padding: 30px 0;
    font-size: 38px;
}
h3 {
    font-size: 32px;
    padding: 30px 0;
    font-weight: 400;
}
a {
    text-decoration: none;
}
p {
    font-weight: 300;
    margin-bottom: 30px;
}
ul {
    font-weight: 300;
    padding: 20px;
}
li {
    margin-bottom: 10px;
}


/**** MAIN CLASSES ****/
.full-width {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.high-section { /* Sections with more text than the viewpoint height */
    width: 100vw;
    padding: 150px 0;
}
.slim-section {
    width: 100vw;
    padding: 50px 0;
}
.content-container {
    width: auto;
    margin: auto;
    padding: 0 20px;
    h2 {
        text-transform: uppercase;
        font-weight: 400;
    }
}
.section-one {
    background-color: rgb(130, 183, 226);
    .highlight {
        color: rgb(234, 230, 4);
    }
}
.section-two {
    background-color: rgb(252, 250, 122);
    .highlight {
        color: rgb(153, 0, 255);
    }
}
.section-three {
    background-color: rgb(250, 146, 189);
    .highlight {
        color: rgb(255, 0, 106);
    }
}
.section-four {
    background-color: $last-section-color;
    .highlight {
        color: rgb(0, 140, 255);
    }
}
/**** MAIN BEVIOUR CLASSES ****/
.visible {
    display: block;
}
.hidden {
    display: none;
}
.no-scroll {
    position: relative;
    overflow: hidden;    
    z-index: 0;
}
/**** DESKTOP VIEW ****/
@media screen and (min-width: 861px) {
    .content-container {
        max-width: 1200px;
    }
}
